<%- include ('header') -%>
<link rel="stylesheet" href="style.css" />
</head>
<body>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Web Meet</span>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if (!auth) { %>
          <li class="nav-item">
            <button
              class="btn btn-link"
              data-toggle="modal"
              data-target="#staticBackdrop1"
            >
              Login
            </button>
          </li>
          <li class="nav-item">
            <button
              class="btn btn-link"
              data-toggle="modal"
              data-target="#staticBackdrop2"
            >
              Register
            </button>
          </li>
          <% } else{ %>
          <li class="nav-item">
            <p class="nav-link"><%= user.displayname %></p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">Log Out</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop1"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email1">Email address</label>
              <input
                type="email"
                class="form-control"
                name="username"
                required
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
              <div class="invalid-feedback">Please provide a valid email.</div>
            </div>
            <div class="form-group">
              <label for="password1">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="staticBackdrop2"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="password2">Named</label>
              <input
                type="text"
                class="form-control"
                name="displayname"
                required
              />
            </div>
            <div class="form-group">
              <label for="email2">Email address</label>
              <input
                type="email"
                class="form-control"
                name="username"
                required
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
              <div class="invalid-feedback">Please provide a valid email.</div>
            </div>
            <div class="form-group">
              <label for="password2">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Alter -->
  <% if (!auth) {%>
  <div class="home-alert d-flex align-items-center">
    <span>Please Login or Register to Join</span>
    <span class="material-icons" style="cursor: pointer;" id="close-alert"> close </span>
  </div>
  <% } %>

  <!-- Main Section -->

  <div class="container mt-5">
    <h1 class="text-center"></h1>

    <div class="row">
      <div class="col-md-7 mt-4">
        <h4>Welcome to the WebRTC Meet</h4>
        <p>Video Confrence and chat with all your friends!!</p>

        <form class="form-inline mt-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn" disabled type="button" id="button-addon1">
                <i class="fas fa-keyboard"></i>
              </button>
            </div>

            <input
              class="form-control me-3"
              type="text"
              id="roomId"
              placeholder="Enter the room code"
              autocomplete="off"
            />
          </div>
          <button class="btn btn-link d-none" type="submit" id="join" disabled>
            Join
          </button>
        </form>
      </div>
    </div>
  </div>
  <script>
    var auth = "<%=auth%>";
  </script>
  <script src="home.js"></script>

  <%- include ('footer') -%>
</body>
