<%- include("header") -%>

<link rel="stylesheet" href="style.css" />
</head>
<body>
  <!-- Chat BUtton -->
  <button class="chat btn btn-light position-absolute">
    Chat <i class="fas fa-comment-alt"></i>
  </button>

  <!-- Main Section -->

  <div class="app d-flex">
    <div class="d-flex flex-column align-items-center app-videos">
      <!-- All videos will stream here -->
      <div class="d-flex flex-wrap videos" id="consultingRoom">

      </div>

      <div class="controls">
        <button id="mic" class="action-button">
          <span class="material-icons md-48 md-light">mic</span>
        </button>
        <button id="videocam" class="action-button">
          <span class="material-icons md-48 md-light">videocam</span>
        </button>
        <button id="end-call" class="action-button act-red">
          <span class="material-icons md-48 md-light">call_end</span>
        </button>
      </div>
    </div>

    <!-- Message Section -->

    <div class="message d-none shadow" id="chats">
      <button class="btn btn-primary" id="join">Join or Start Meet</button>
      <h5 class="text-center mt-2">Live Chat</h5>

      <div id="messages" class="d-flex flex-column justify-content-end"></div>


      <div class="text-input">
        <input
          type="text"
          class="form-control ml-2"
          id="chat"
          placeholder="Type your message here"
        />
      </div>
    </div>
  </div>

  <script>
    var roomNumber = "<%= roomId %>";
  </script>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <script src="simplepeer.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="client.js"></script>

  <%- include ("footer") -%>
</body>
